<tbody>
  <tr>
    <td style="padding: 2em">
      <h1 style="font-weight: 600; font-size: 1rem; margin-bottom: 2rem">
        {{header}}
      </h1>
      <p style="font-size: 0.9rem">
        Hey
        {{name}},
        <br /><br />
        Use the OTP below to complete your verification process:
      </p>
      <p
        style="
          font-size: 1.5rem;
          font-weight: bold;
          text-align: center;
          background: #f3f3f3;
          padding: 10px;
          border-radius: 5px;
          display: inline-block;
        "
      >
        {{otpCode}}
      </p>
      <p style="font-size: 0.9rem; line-height: 25px">
        This OTP is valid for
        {{expiry}}
        minutes. Do not share it with anyone.
      </p>
    </td>
  </tr>
</tbody>